<!-- app/views/welcome/senator.html.erb -->

<h1>Welcome to the Senator Dashboard!</h1>

<p>This is the Senator dashboard page. You can display any relevant information here.</p>

<div id="froala">
  <%= text_area_tag 'editor-content' %>
</div>
<script>
  new FroalaEditor('#editor-content');
</script>