<!-- app/views/welcome/guest_dash.html.erb -->

<h1>Welcome to the guest Dashboard!</h1>

<p>This is the guest dashboard page. You can display any relevant information here.</p>

<%= link_to "Back to Welcome Page", welcome_path, class: "back-button" %>
