<!-- app/views/welcome/exec_admin.html.erb -->

<h1>Welcome to the Executive Admin Dashboard!</h1>

<p>This is the Executive Admin dashboard page. You can display any relevant information here.</p>

<div id="froala">
  <%= text_area_tag 'editor-content' %>
</div>
<script>
  new FroalaEditor('#editor-content');
</script>